.nav {
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 200px;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    .nav__list {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 40px;
      .nav__item:nth-child(-n + 5) {
        margin-right: 40px;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $colorlinks;
          text-shadow: 0px 5px 15px rgba(246, 158, 123, 0.25);
        }
      }
      .nav__button {
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 50px;
        color: white;
        font-weight: 600;
        background-color: $colorlinks;
        box-shadow: 0px 5px 15px rgba(246, 158, 123, 0.25);
        &:hover {
          color: #fff;
          background-color: $colormain;
          box-shadow: 0px 5px 15px rgba(56, 62, 86, 0.25);
        }
      }
      .close__menu {
        display: none;
      }
    }
  }
  .sushi__menu {
    display: none;
    width: 60px;
    @include media-screen-mobile {
      display: block;
    }
  }
}
@media screen and (max-width: ($width-mobile)) {
  .openBut {
    position: absolute;
    top: 0;
    right: 0px;
    width: 240px;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    transition: 0.3s;
    .nav__list {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      .nav__item {
        margin-bottom: 35px;
      }
      .close__menu {
        display: block;
        width: 15px;
      }
    }
  }
  .hideBut {
    position: absolute;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh;
    background-color: rgba(240, 240, 240, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    transition: 0.3s;
    .nav__list {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      .nav__item {
        margin-bottom: 35px;
      }
    }
  }
}
