.main__selection {
  width: 80%;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .selection__button:nth-child(-n + 4) {
    margin-right: 40px;
  }
  .selection__button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(248, 248, 248);
    &:hover {
      background-color: $colormain;
      color: #fff;
    }
  }
}
